<ion-header>
  <ion-toolbar>
    <ion-title>Correct Answer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngIf="question | async as q; else loading">
  <ion-card-header>
    <ion-card-title>Congratulations!</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item className="ion-activated">
      <ion-icon name="trophy" slot="start"></ion-icon>
      You Answer: {{ q.correct_answer }}  
    </ion-item>
  </ion-card-content>
</ion-card>

<ng-template #loading>loading...</ng-template>

<ion-button expand="full" (click)="toHome()">Navigate Home</ion-button>
</ion-content>
