<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Quiz Category: {{ this.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-list>
    <ion-item *ngFor="let question of questions" (click)="goToQuestion(question)">
      {{ question.question | unescape }}
      <ion-note slot="end">difficulty {{ question.difficulty }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>