.textCenter {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.socialLogo {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    overflow: hidden;
}
.logoList {
    margin-top: 30px;
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 20px;
}
.btn {
    float: right;
}
.mainContent {
    flex: 1;
    background-color:rgba(0, 0, 0, 0.3) !important;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}
.feedbackCard {
    width: 100%;
    border-radius: 4px;
    background-color: white;
}
.profile-photo {
    border-radius: 50% !important;
    overflow: hidden;
}