<!-- Based very loosely on https://enappd.com/blog/social-sharing-component-in-ionic-5-mobile-web-apps/168/,
removed all capacitor parts, since they would not work well in my tests -->
<div padding class="mainContent">
  <div no-margin margin-top class="feedbackCard">
    <ion-row class="textCenter">
      <div>
          You can share Via :-
      </div>
    </ion-row>
  
  <div class="logoList">
    <ion-row *ngFor="let item of sharingList">
      
          <ion-col>
            <a [href]="item.href" target="_blank">
              <ion-img class="socialLogo" [src]="item.logo"></ion-img>
            </a>
          </ion-col>
    </ion-row>
  </div>    
  
  <ion-button class="btn" (click)="closeCtrl()" fill="clear">
    Close
  </ion-button>
  </div>
  </div>