<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Quiz Question</ion-title>
    <ion-icon name="ellipsis-horizontal-outline" slot="end" (click)="detailsPopover($event)"
      (mouseenter)="detailsPopover($event)"></ion-icon>
  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-list>
    <ion-radio-group value="quizoptions" (ionChange)="showConfirm($event)">
      <ion-list-header>
        <ion-label>{{ question?.question | unescape }}</ion-label>

      </ion-list-header>
      <ion-item *ngFor="let answerOption of possibleAnswers">
        <ion-label>{{answerOption | unescape }}</ion-label>
        <ion-radio slot="start" value="{{answerOption}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button expand="block" color="primary" (click)="showConfirm($event)" *ngIf="canTakeHint(); else noHint">
    Take Hint
  </ion-button>
  <ng-template #noHint>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No Hint Possible</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item className="ion-activated">
          <ion-icon name="analytics" slot="start"></ion-icon>
          If you would like to get hints, please check the rules in GameBus!
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-template>


</ion-content>