<ion-header>
  <ion-toolbar>
    <ion-title>storage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of this.storageItems">
    {{item.index}}: {{item.key}} - {{item.value}}
  </div>
</ion-content>
