<ion-content>
  <ion-list>
    <ion-item (click)="dismiss()">
      Times Answered: <ion-label>{{ question?.userTries }}</ion-label>
    </ion-item>
    <ion-item (click)="dismiss()">
      Times Correct: {{ question?.userTimesCorrect }} 
    </ion-item>  
  </ion-list>
</ion-content>