<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ appName }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showShareOptions($event)">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <ion-button (click)="clearCache()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="full" (click)="loadTriviaConfig(true)">Refresh Categories</ion-button>  
      <ion-card *ngIf="numTotalAnswers | async as nT; else loading">Performance so far : {{ nT.userTimesCorrect }} out of {{ nT.userTries }}</ion-card>    
      <ng-template #loading>loading...</ng-template>
  <ion-list>
    <ion-item *ngFor="let category of (triviaCategories)">
      <ion-label [routerLink]="['/quizcategory/', category.id, category.name]" routerDirection="forward">
        <h2>{{ category.name }}</h2>
        <ion-note slot="end">{{ (category.numQuestions>-1)?category.numQuestions:"?" }} questions online</ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>