<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Wrong Answer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>Ahhh... Too bad.</h2>

<ion-button expand="full" (click)="this.goBack()">Try Again</ion-button>
<ion-button expand="full" (click)="this.router.navigate(['/home'])">Navigate Home</ion-button>

</ion-content>
